* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


html {
    scroll-behavior: smooth;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}
th, td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f0f0f0;
}
  